<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mehraz.usermanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="আলোক পথ"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- Assuming these activities are not accessed from outside the app -->
        <activity
            android:name=".Activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" /> <!-- LoginActivity has intent filters, so it needs android:exported -->
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>